nav,header,footer{
    display: block;
    
}
strong{
    background-color: cornsilk;
}
body{background-color: 	#e6ffcc;}

body{
    line-height: 1;
    margin: 0;
}
/*header*/
.header {
    
    color: chartreuse ;
    font-display: block;
    font-weight: 100;
    font-size: 40px
    
    text-align: justify;
    
    
}
/*nav bar*/
nav{
    width: 100%;
    margin: 0;
}

nav ul{
    background-color:#66ffd9;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}

ul.topnav li{
    list-style: none;
    float: left
    
}

ul.topnav li.topnav-right{
    float:right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px ;
    text-transform: uppercase;
    color: crimson;
}
ul.topnav li a:hover{
    background-color: #0080ff;
    color: white;
    
}

h1 {
    color: blueviolet;
    font-family: cursive;
    font-size: 30px;
}





.form{
    text-align: center;
    padding: center;
}

.ff{
    width: 300px;
    border: 15px solid #ffb366;
    padding:100px 250px 100px 250px;
    margin: 200px;
    margin: 50px;
    text-align: center;
}
.container{
    background-color: aquamarine
    width: 300px;
    border: 15px solid #ffb366;
    padding:100px 250px 100px 250px;
    margin: 200px;
    margin: 50px;
    text-align: center;
    
}
.container2{
    background-color: aquamarine
    width: 300px;
    border: 15px solid #ffb366;
    padding:100px 250px 100px 250px;
    margin: 200px;
    margin: 50px;
    text-align: center;
    
}













